@import "normalize.scss",
"foundation.scss",
"bourbon/bourbon";


@include font-face('Entypo', 'entypo/entypo');

@include font-face('Entypo-social', 'entypo-social/entypo-social');

@include font-face('LondrinaSolid', 'fonts/LondrinaSolid-Regular-webfont');

@include font-face('MathleteSkinny', 'fonts/Mathlete-Skinny-webfont');

// Color variables
$deepest-red:#C62A29;
$deep-red:#c24340;
$light-red:#e7b5b2;

.entypo-social {
	font-family:'Entypo-social';
}

h1, h3 {
	font-family: 'LondrinaSolid', $helvetica;
}

h2, .cta a {
	font-family:'MathleteSkinny', $helvetica;
}

body {
	background-image:url(../img/gplaypattern.png);

}

img.logo {
	display:block;
	margin:0 auto;
	background: rgba(255, 255, 255, 0.85);
	border-radius:100%;
	padding:1em;
	position:relative;
	z-index:100;
}

p.lead {
	font-family: 'LondrinaSolid', $helvetica;
	color:#504b4b;
}

ul {
	margin-left:1.5em;
}

.instagram {
    position:absolute;
    top:0;
    left:0;
    z-index:0;

    .instagram-placeholder {
    	display: inline-block;
		width: 16.5%;
		img {
			width:100%;
			@include transition(all 0.8s);
			&:hover {
				opacity: 0.66;
			}
		}
	    // Resizing into 4 columns 
	    @media screen and (min-width:321px) and (max-width:720px) {
	    	width:24.8%;	
	    }
	    @media screen and (max-width:320px) {
	    	width:33.33%;	
	    }

    }
	// Hack to show first 24 images
	.instagram-placeholder + .instagram-placeholder + .instagram-placeholder + .instagram-placeholder + .instagram-placeholder + .instagram-placeholder + .instagram-placeholder + .instagram-placeholder + .instagram-placeholder + .instagram-placeholder + .instagram-placeholder + .instagram-placeholder + .instagram-placeholder + .instagram-placeholder + .instagram-placeholder + .instagram-placeholder + .instagram-placeholder + .instagram-placeholder + .instagram-placeholder + .instagram-placeholder + .instagram-placeholder + .instagram-placeholder + .instagram-placeholder + .instagram-placeholder + .instagram-placeholder {
		display:none;
	}
}

.twitter-share-button.twitter-count-horizontal {
	display:block;
	margin:1em auto;
}

.lovingdayfeed {
	.instagram-placeholder {
		display: inline-block;
	}
}

.celebration {
	h1 {
		text-align:center;
	}
}

#googleMAP {
	border-radius: 1em;
	display: block;
	margin: 0 auto;
	max-width: 100%;
}

img.feature-person {
	border-radius: 0.5em;
	box-shadow: 0px 7px 8px -8px #000;
}

h4 {
	font-family:'MathleteSkinny', $helvetica;
	font-size:3em;
	margin-bottom:0.125em;
	padding-bottom:0.125em;
	line-height:1em;
	border-bottom:2px solid $light-red;
	text-align:center;
}

.section-block {
	background:rgba(255, 255, 255, 0.80);
	padding:2em;
	position:relative;
}

.red {
	background:rgba(194, 67, 64, 0.86);
	position:relative;
	z-index:100;
	margin:1em auto 0em auto;
	h1, h2, h3 {
		color:$light-red;
		text-align: center;
		span {
			color: white;
		}
	}
	h1 {
	    color: white;
	    font-size: 4em;
	    margin-bottom: 0.25em; 
	    letter-spacing: 1px;
	}
}

.cta {
	a {
		display: block;
		text-align: center;
		font-size: 2.3em;
		padding: 0.5em;
		margin: 1em auto;
		width:280px;
		border-radius: 0.25em;
		background:$deep-red;
		box-shadow: 1px 3px $light-red;
		color:white;
		@include transition (background 0.5s);
		&:hover {
			background:$deepest-red;
		}
	}
}

.subMenu {
	z-index:1000;
	text-align: center;
	width: 100%;
	background:rgba(194, 67, 64, 0.86);
	padding:1em;
	.inner {
		a {
			color:white;
			padding: 0 1em;
			font-weight: 200;
			font-size: 1.2em;
			@include transition (all 0.5s);
			&:hover {
				color:$light-red;
			}
		}	
	}
}
.sponsors {
	span {
		width:128px;
		height:150px;
		background-image: url('../img/sponsors.png');
		display: inline-block;
		margin: 0.5em 1em;
	}
	span.logo1 {
		width:195px;
		background-position:-137px 0px;
	}
	span.logo2 {
		width:120px;
		background-position:-340px 0px;
	}
	span.logo3 {
		width:122px;
		background-position:-491px 0px;
	}
	span.logo4 {
		width:98px;
		background-position:-627px 0px;
	}
	span.logo5 {
		width:343px;
		background-position: -731px 0px;
	}
	img.pd {
		height: auto;
		width: 130px;
		margin: 0.5em 1em;
		vertical-align: top;
		@include transition (all 1s);
		&:hover {
			@include transform (rotate(180deg))
		}
	}
}